body{
    display: inline;
   
    border-radius: 5%;
}
h1{
  font-family: 'Abril Fatface', cursive;
  font-size: 40px;
}
.mainpage{
    float: right;
    box-shadow: 10px 5px 5px #151515;
    margin: 0px 50px 0px 75px;
}
.image{
display: inline-flex;
position: relative;
width:800px;
height:800px;
grid-column: 3/5;

  }
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;

    box-sizing: border-box;
  }
  input[type=date],input[type=password]{
    border-radius: 5px;
    padding: 10px 15px;
  }
  
  
  button{background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%)}
  button{
     margin: 5px 20px 5px 20px;
     padding: 10px 30px;
     
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 100% auto;
     color: white;            
     box-shadow: 0 0 10px #eee;
     border-radius: 20px;
     display: block;
   }

   button:hover {
     background-position: right center; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
   }
   btn{
       align-items: center;
   }
   p{
    font-family: 'Kanit', sans-serif;
    font-size: 20px ;
    font-weight: lighter;
   }
   input[type=radio] {
    border: 5px solid #0DFF92;
    background-color:#151515; ;
  }
  /*loginpage styles*/
  input[type=email]{
    border-radius: 5px;
    margin: 10px 10px;
    padding: 12px 20px;
  
  }
  .login{
    margin: auto;
    width: 50%;
    
  
    padding: 100px;

  }
  .loginpage{
    display: inline-block !important;
    float: right;
    box-shadow: 10px 5px 5px #151515;
    margin: 50px 60px 0px 75px;
  

  }
  
  

  
  